/*! input-case-enforcer v1.0.1 - http://github.com/westonganger/input-case-enforcer 
*/

.input-case-enforcer{
  &:-ms-input-placeholder{
    text-transform: none; 
    text-transform: initial;
  }

  &::placeholder{
    text-transform: initial;
  } 
}
